*{
    margin: 0;
    padding: 0;
}


    element.style {
        left: 50px;
        top: 200px;
    }


body{
   background-color: rgb(14, 13, 13) ;
   overflow: hidden;
}
.gameContainer{
    background-image:url(./Images/background\ 2.jpg) ;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
    }

.dino{
        background-image: url(./Images/boy.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 233px;
        height: 160px;
        position: absolute;
        bottom: -17px;
    }

.obstacle{
    width: 150px;
    height: 120px;
    background-image: url(./Images/Dragon_2-removebg-preview.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 89%;
}

.animateDino{
    animation: dino 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameover{
    text-align: center;
    position: relative;
    top: 63px;
    font-size: 53px;
}

#scorecount{
    position: absolute;
    right: 23px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-weight: bold;
    color: rgb(10, 10, 10);
}
@keyframes dino{
    0%{
      bottom: 0;
    }
    50%{
        bottom: 350px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}